In [1]:
import os
import pandas as pd

In [2]:
df = {
    'name': ['A','B','C'],
    'age':[26,24,28],
    'hobby':['xyz','abc','lmn']
}

In [5]:
a = pd.DataFrame(df)
a

  name  age hobby
0    A   26   xyz
1    B   24   abc
2    C   28   lmn

In [2]:
def example(a,b):
    c=a+b
    print(f"The value is {c}")

In [14]:
a = example(5,9)
a

The value is 14

In [ ]:
def example2(a,b):
    d=a+b
    return d

In [15]:
b = example2(5,9)
b

14

In [17]:
b

14

In [18]:
q = print("hi")
q

hi

In [20]:
q