# Variadic Functions

### Positional Arguments(*args)
here we don't have to specify any variable to assign a value

In [43]:
def add(x,y):    
    ''' 
    Input : two input will be given in the fuction add()
    Output : The addition of two numbers will be given  
    '''
    a = x + y
    return a

In [44]:
b = add(21,20)
print(f"addition of value of {b}")

addition of value of 41

In [1]:
#add(20,50,30,41)   # will get error as we provided more than 2 inputs in a function

In [ ]:
def addition(*args):    # this is variadic function *args where we can provide multiple inputs
    for i in args:
        print(i)

In [ ]:
addition(20,50,30,41)

20
50
30
41

In [ ]:
def add2(*args):        # to get sum of given arguments
    s = 0
    for i in args:
        s = s + i
    return s

In [ ]:
sumofargs = add2(20,30,41,52,41,78)
sumofargs

262

In [ ]:
def multiply(x,*args):     #in 'x' we can give any argument like string, number etc.
    p=1
    for i in args:
        p=p*i
    return f"product performed by {x} is {p}"

In [ ]:
m1 = multiply("Tina",2,4,5,9)   #here x is string
m1

'product performed by Tina is 360'

In [ ]:
m2 = multiply(255,2,4,8)       #here x is integer
m2

'product performed by 255 is 64'

In [ ]:
m3 = multiply(["TG","MG","YT"],54,85,74,99,78,56)    #here x is list
m3

"product performed by ['TG', 'MG', 'YT'] is 146879853120"

In [ ]:
def multiply_2(x,*args):     #in 'x' we can give any argument like string, number etc.
    p=1
    for i in args:
        p=p*i
        welcome = f"Welcome {x}"
    print(f"{welcome} \nThe product of provided data is {p}")

In [ ]:
m4 = multiply_2("Lisa",21,41, 54, 85)
m4

Welcome Lisa
The product of provided data is 3951990

### Scenario: We have list of data and we want to add a value to each list i.e. append()
    emp_data_1 = [101,"Tia"]
    emp_data_2 = [102,"Lia"]

    These two employees are working for "IT" department.
    Write a function that takes lists as an input and appends department details to both the lists.

In [ ]:
def append_data(dept, *lists):
    '''
    Takes input as list and append the department values in the created lists.
    '''
    for i in lists:
        i.append(dept)

In [ ]:
emp_data_1 = [101,"Tia"]    #these are the list in which we want to append the data
emp_data_2 = [102,"Lia"]

In [ ]:
append_data("IT",emp_data_1,emp_data_2)   #inserting dept data in the created lists at a time

In [ ]:
emp_data_1   # data got appended/inserted

[101, 'Tia', 'IT']

In [ ]:
emp_data_2

[102, 'Lia', 'IT']

In [ ]:
append_data(25897456,emp_data_1)    #adding phone number

In [ ]:
append_data(78945621,emp_data_2)

In [ ]:
emp_data_1

[101, 'Tia', 'IT', 25897456]

In [ ]:
append_data("tia@gmail.com",emp_data_1)  #adding email

In [61]:
emp_data_1

[101, 'Tia', 'IT', 25897456, 'tia@gmail.com']

In [ ]:
append_data("kia@gmail.com",emp_data_2)

In [62]:
emp_data_2

[102, 'Lia', 'IT', 78945621, 'kia@gmail.com']

In [ ]:
def ex(*sample):    #to check the type of data stored in positional argument
    print(type(sample))

In [ ]:
ex(52,"thsj")

<class 'tuple'>

# Keyword Argument

In [ ]:
def func1(**kwargs):   #to check the type of keyword arguments
    print(kwargs)
    print(type(kwargs))

In [ ]:
func1(id=101,name="lisa")

{'id': 101, 'name': 'lisa'}
<class 'dict'>

In [ ]:
# concept of key-value in dictionary
dict = {
    "id" : 101,
    "name" : "lisa"
}

In [41]:
dict.keys()

dict_keys(['id', 'name'])

In [46]:
dict.values()

dict_values([101, 'lisa'])

In [42]:
dict.items()

dict_items([('id', 101), ('name', 'lisa')])

In [ ]:
# keyword arguments scenarios
def func2(**kwargs):
    print(type(kwargs))
    print(f"The items in this is : {kwargs.items()}")

In [53]:
func2(id=201,name='John',salary=52000,email='john@gmail.com')    #can give multiple arguments in a function with keyword arguments

<class 'dict'>
The items in this is : dict_items([('id', 201), ('name', 'John'), ('salary', 52000), ('email', 'john@gmail.com')])

In [54]:
func2(id=202,name='Jisoo')

<class 'dict'>
The items in this is : dict_items([('id', 202), ('name', 'Jisoo')])

In [67]:
emp_data_3 = [103,"Jimmy","Sales",25000]

In [ ]:
# scenario : 
def length(**kwargs):
    a ={}
    for key,value in kwargs.items():
        a[key] = len(value)
    return a

In [68]:
length(emp1 = emp_data_1, emp2 = emp_data_2 , emp3 = emp_data_3)

{'emp1': 5, 'emp2': 5, 'emp3': 4}